@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int numRegistros = (int)ViewData["NUMREGISTROS"];
    int numPagina = (int)ViewData["NUMPAGINA"];
}
@model List<Departamento>

<h1 style="color:blue"> Paginar Grupo Departamentos</h1>

<div>
    @for (int i = 0; i <= numRegistros; i += 2)
    {
        <a asp-controller="Paginacion" asp-action="GrupoDepartamentos"
           asp-route-posicion="@i" class="btn btn-success">
            Pagina @numPagina
        </a>
        numPagina += 1;
    }

</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Departamento departamento in Model)
        {
            <tr>
                <td>@departamento.IdDepartamento</td>
                <td>@departamento.Nombre</td>
                <td>@departamento.Localidad</td>
            </tr>
        }
    </tbody>
</table>